[data-theme="light"] .astro-code {
  counter-reset: line;
}

[data-theme="light"] .astro-code .line::before {
  counter-increment: line 1;
  content: counter(line);
  margin-right: 24px;
  text-align: right;
  color: var(--shiki-light) !important;
}

[data-theme="light"] .astro-code,
[data-theme="light"] .astro-code span {
  color: var(--shiki-light) !important;
  background-color: var(--shiki-light-bg) !important;
  font-style: var(--shiki-light-font-style) !important;
  font-weight: var(--shiki-light-font-weight) !important;
  text-decoration: var(--shiki-light-text-decoration) !important;
}

[data-theme="dark"] .astro-code {
  counter-reset: line;
}

[data-theme="dark"] .astro-code .line::before {
  counter-increment: line 1;
  content: counter(line);
  margin-right: 24px;
  text-align: right;
  color: var(--shiki-dark) !important;
}

[data-theme="dark"] .astro-code,
[data-theme="dark"] .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
