---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/common/PostCard.astro";
import { sortByDate } from "../utils/date";
import { type CollectionEntry, getCollection, render } from "astro:content";

const devEnv = import.meta.env.DEV;
if (!devEnv) {
  return new Response(null, {
    status: 404,
    statusText: "Not Found",
  });
}

const blogPosts = await getCollection(
  "blog",
  ({ data }) => data.draft === true,
);
const posts: (CollectionEntry<"blog">["data"] & { id: string })[] =
  await Promise.all(
    blogPosts.map(async (post) => {
      const { remarkPluginFrontmatter } = await render(post);
      return { ...remarkPluginFrontmatter, ...post.data, id: post.id };
    }),
  );
const sortedPosts = sortByDate(posts);
---

<BaseLayout title="草稿">
  <div class="max-w-5xl mx-auto px-4 py-12">
    <h1 class="text-3xl font-light text-center mb-12 tracking-wider">草稿</h1>
    {
      sortedPosts.length === 0 ? (
        <p class="text-center opacity-60">暂无草稿</p>
      ) : (
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
          {sortedPosts.map((post) => <PostCard post={post} />)}
        </div>
      )
    }
  </div>
</BaseLayout>
