---
import { getCollection, render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

dayjs.extend(localizedFormat);

var posts = await Promise.all(
  (await getCollection("blog")).map(
    async (post) => (await render(post)).remarkPluginFrontmatter,
  ),
);
posts.sort((a, b) => {
  const A = dayjs(a.publishDate);
  const B = dayjs(b.publishDate);
  if (A.isSame(B)) return 0;
  if (A.isBefore(B)) return 1;
  return -1;
});
---

<BaseLayout title="李华的博客">
  <ul
    class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
  >
    {
      posts.entries().map((post) => (
        <li>
          <div class="timeline-middle">
            <svg
              class="h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                clip-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                fill-rule="evenodd"
              />
            </svg>
          </div>
          <div
            class={
              (post[0] & 1) == 0
                ? "timeline-start mb-10 md:text-end"
                : "timeline-end md:mb-10"
            }
          >
            <time class="font-mono italic">
              {dayjs(post[1].publishDate).format("YYYY-MM-DD HH:MM:ss")}
            </time>
            <div class="text-lg font-black">{post[1].title}</div>
            <p>{post[1].description}</p>
            <a href={`/posts/${post[1].id}`}>查看更多</a>
          </div>
          <hr />
        </li>
      ))
    }
  </ul>
</BaseLayout>
