---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/common/PostCard.astro";
import { sortByDate } from "../utils/date";
import { type CollectionEntry, getCollection, render } from "astro:content";

const blogPosts = await getCollection("blog", ({ data }) => !data.draft);
const posts: (CollectionEntry<"blog">["data"] & { id: string })[] =
  await Promise.all(
    blogPosts.map(async (post) => {
      const { remarkPluginFrontmatter } = await render(post);
      return { ...remarkPluginFrontmatter, ...post.data, id: post.id };
    }),
  );
const sortedPosts = sortByDate(posts);
---

<BaseLayout title="李华的博客">
  <div class="max-w-5xl mx-auto px-4 py-12">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">
      {sortedPosts.map((post) => <PostCard post={post} />)}
    </div>
  </div>
</BaseLayout>
