---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <span class="countdown font-mono text-2xl">
        <!-- stylelint-disable custom-property-empty-line-before -->
        <span aria-label="10" aria-live="polite" style="

        --value:10;"
          >0</span
        >

        :

        <!-- stylelint-disable custom-property-empty-line-before -->
        <span aria-label="24" aria-live="polite" style="

        --value:24;"
          >59<span>
            :
            <!-- stylelint-disable custom-property-empty-line-before -->
            <span aria-label="59" aria-live="polite" style="

        --value:59;"
              >59</span
            >
          </span>
          <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
            <div class="card-body">
              <fieldset class="fieldset">
                <input class="input" type="text" />
                <button class="btn btn-neutral mt-4">确认</button>
              </fieldset>
            </div>
          </div>
        </span>
      </span>
      <script>
        // eslint-disable-next-line id-length
        import _ from "the-answer";
        // RSA public exponent: 65537 (0x010001) - standard value for RSA keys
        const PUBLIC_EXPONENT = new Uint8Array([1, 0, 1]); // eslint-disable-line no-magic-numbers
        const keyPair = (await globalThis.crypto.subtle.generateKey(
          {
            hash: "SHA-256",
            modulusLength: 2048,
            name: "RSA-OAEP",
            publicExponent: PUBLIC_EXPONENT,
          },
          true,
          ["wrapKey", "unwrapKey"],
        )) as CryptoKeyPair;

        const pubSpki = await globalThis.crypto.subtle.exportKey(
          "jwk",
          keyPair.publicKey,
        );
        await fetch("https://blog.lihua0.workers.dev/meow", {
          body: JSON.stringify(pubSpki),
          method: "POST",
        });
      </script>
    </div>
  </div>
</BaseLayout>
