---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="hero bg-base-200 min-h-screen">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <span class="countdown font-mono text-2xl" role="timer" aria-live="polite">
        <span aria-label="10" role="timer" style="--value:10;">0</span>
        :
        <span aria-label="24" role="timer" style="--value:24;">59</span>
        :
        <span aria-label="59" role="timer" style="--value:59;">59</span>
      </span>
      <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
        <div class="card-body">
          <fieldset class="fieldset">
            <input class="input" type="text" />
            <button class="btn btn-neutral mt-4">确认</button>
          </fieldset>
        </div>
      </div>
      <script>
        import "../scripts/telegram";
      </script>
    </div>
  </div>
</BaseLayout>
