---
import ShieldedContent from "@meeghele/astro-shield/components/ShieldedContent.astro";
---

<div>
  <a href="https://creativecommons.org">Copyright</a> &copy; 2025-2026
  <ShieldedContent>
    <a href="mailto:lihua@email.com">Li Hua</a>
  </ShieldedContent>
  &middot; <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
</div>
