<nav class="grid-flow-col gap-0.5 md:place-self-center max-h-8">
  <aside class="grid-flow-col items-center">
    <p>
      <a href="https://creativecommons.org">Copyright</a> © 2025 by <a
        href="https://lihua.codeberg.page/">Li Hua</a
      > is licensed under <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY-NC-SA 4.0</a
      >
    </p>
  </aside>
  <img
    class="max-w-5 ml"
    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg"
  /><img
    class="max-w-5 ml"
    src="https://mirrors.creativecommons.org/presskit/icons/by.svg"
  /><img
    class="max-w-5 ml"
    src="https://mirrors.creativecommons.org/presskit/icons/nc.svg"
  /><img
    class="max-w-5 ml"
    src="https://mirrors.creativecommons.org/presskit/icons/sa.svg"
  />
</nav>
