---
import Navigation from "./Navigation.astro";
const { title } = Astro.props;
---

<header class="sticky top-0 z-50 bg-base-100/80 backdrop-blur">
  <nav>
    <Navigation title={title} />
  </nav>
</header>
