---
import Center from "./navbar/Center.astro";
import End from "./navbar/End.astro";
import Start from "./navbar/Start.astro";
const { title } = Astro.props;
---

<div class="navbar shadow-sm">
  <div class="navbar-start">
    <Start />
  </div>
  <div class="navbar-center">
    <Center title={title} />
  </div>
  <div class="navbar-end">
    <End />
  </div>
</div>
