---
import Start from "./navbar/Start.astro";
import Center from "./navbar/Center.astro";
import End from "./navbar/End.astro";
---

<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <Start />
  </div>
  <div class="navbar-center">
    <Center />
  </div>
  <div class="navbar-end">
    <End />
  </div>
</div>
