---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import CodeCopy from "../components/CodeCopy.astro";
const { title, description } = Astro.props;
---

<html lang="zh-CN" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <title>{title ?? "未命名"}</title>
    <script is:inline>
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme") ?? "light",
      );
      document.querySelector("head>script:nth-child(4)")?.remove();
    </script>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content={title} property="og:title" />
    <meta content="article" property="og:type" />
    <meta content={description} property="og:description" />
    <meta content="zh_CN" property="og:locale" />
    <meta content="未命名" property="og:site_name" />
    <meta content="Li Hua" property="og:article:author:first_name" />
    <meta content="summary" name="twitter:card" />
    <meta content={Astro.generator} name="generator" />
    <link
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt"
      rel="license"
    />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <script>
      document.addEventListener("astro:page-load", () => {
        const tc = document.querySelector(
          ".theme-controller",
        ) as HTMLInputElement;
        if (localStorage.getItem("theme") === "dark") tc.checked = true;
        tc.addEventListener("change", () => {
          if (localStorage.getItem("theme") === "dark") {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
          } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
          }
        });
      });
    </script>
  </head>
  <ClientRouter />
  <body class="flex flex-col min-h-screen">
    <Header title={title} />
    <main
      class="flex-grow prose prose-neutral max-w-2xl lg:max-w-none mx-auto px-4 py-8 lg:py-12 prose-headings:font-medium prose-h1:text-2xl prose-h2:text-xl prose-a:text-pink-500 prose-a:no-underline hover:prose-a:underline prose-img:rounded-lg prose-pre:bg-base-200 prose-pre:border prose-pre:border-base-content/10 prose-pre:rounded-lg prose-code:text-pink-500 prose-code:before:content-none prose-code:after:content-none"
    >
      <CodeCopy />
      <slot />
    </main>
    <Footer />
  </body>
</html>
