---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
const { title, description } = Astro.props;
---

<html lang="zh-CN" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <title>{title ?? "未命名"}</title>
    <script is:inline>
      document.documentElement.setAttribute(
        "data-theme",
        localStorage.getItem("theme") ?? "light",
      );
    </script>
    <meta content="width=device-width,initial-scale=1" name="viewport" />
    <meta content={title} property="og:title" />
    <meta content="article" property="og:type" />
    <meta content={description} property="og:description" />
    <meta content="zh_CN" property="og:locale" />
    <meta content="未命名" property="og:site_name" />
    <meta content="Li Hua" property="og:article:author:first_name" />
    <meta content="summary" name="twitter:card" />
    <meta content={Astro.generator} name="generator" />
    <link
      href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.txt"
      rel="license"
    />
    <link href="/sitemap-index.xml" rel="sitemap" />
    <script>
      document.addEventListener("astro:page-load", () => {
        const tc = document.querySelector(
          ".theme-controller",
        ) as HTMLInputElement;
        if (localStorage.getItem("theme") === "dark") tc.checked = true;
        tc.addEventListener("change", () => {
          if (localStorage.getItem("theme") === "dark") {
            document.documentElement.setAttribute("data-theme", "light");
            localStorage.setItem("theme", "light");
          } else {
            document.documentElement.setAttribute("data-theme", "dark");
            localStorage.setItem("theme", "dark");
          }
        });
      });
    </script>
  </head>
  <ClientRouter />
  <body>
    <Header title={title} />
    <article
      class="dark:prose-invert prose-h1:font-bold prose-h1:text-xl prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl prose-headings:underline min-h-screen"
    >
      <slot />
    </article>
    <Footer />
  </body>
</html>
